<!-- Devise navigations --> 
 
<% if user_signed_in? %>
<li><%= link_to('Devise Logout', destroy_user_session_path, :method=> :delete) %></li>
<li><%= link_to('Devise Edit account', edit_user_registration_path) %> </li>
<% else %>
<li><%= link_to('Devise Login', new_user_session_path) %></li>
<li><%= link_to('Devise Sign up', new_user_registration_path) %></li>
<% end %>

<!-- Devise navigations end -->


<!-- Custom navigations start  
<%# if current_user %>
<li> <%# link_to('Logout', destroy_user_session_path, :method=> :delete) %></li>
<li><%# link_to 'Edit account',  edit_user_path(current_user) %></li>
<% #else %>
<li><%# link_to('Login', new_user_session_path) %></li>
<li><%# link_to('Sign up', new_user_path) %></li>
<%# end %>

<!-- Custom navigations end --> 